.container {
    width: 400px;
    height: 500px;
    display: flex;
    background-image: linear-gradient(to right, #e52d27,  #b31217);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}
.result {
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    width:80%;
    height: 200px;
    margin: 40px;
    background-color: white;
    justify-content: space-between;
}
.main {
    border-radius: 10px;
    height:calc(100% - 10px);
    width:80%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.btn-style{
    border-radius: 0px;
    border-color: #b31217;
    width: 100%;
    min-height: 100%;
    background-color: white;
    text-align: center;
    font-size:xx-large;
    
}
.btn-style:hover {
    background-color:lightgrey;
}
#current-op {
    height: 33.3%;
    font-size:1.8rem;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: end;
 
    /* -webkit-line-clamp: 1; */
    /* word-wrap: break-word;
    word-break: break-all;*/
} 
#previous-op{
    height: 33.3%;
    /* flex-direction: row-reverse; */
    /* align-items: center; */
    font-size:1.8rem;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: end;
    /* -webkit-line-clamp: 1; */
}
#operation{
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-size:1.3rem;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 5px;
}